.separator {
    -fx-padding: 10;
}

.separator .line {
    -fx-background-color: red;
    -fx-pref-height: 2;
    -fx-border-color: null ;
    -fx-padding: 10;
}

.createPlaylistButton {
}

.listViewPlaylists {
    -fx-background-color: #121212;
    -fx-padding: 10 0 0 0;
}

Label {
    -fx-text-fill: #a8b7bf;
}